@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*   NAVBAR   */

.nav-icon {
    display: none;
}

.navbar img {
    width: 70px;
}

.navbar {
    width: 80%;
    max-width: 1300px;
    margin: 20px auto;

    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    text-decoration: none;
}

ul a {
    text-decoration: none;
}

.link {
    list-style: none;
    padding-right: 30px;
    color: #A1A1A1;
    font-family: 'Poppins';
    font-size: 1.2em;
}

.link:hover {
    color: #00D1FF;
}

/* PULSANTI NAVBAR */

.menu-btn {
    display: none;
}
.cancel-btn {
    display: none;
}


/* CONTENUTO PAGINA */


h1 {
    font-family: 'Poppins';
    color: #00D1FF;
    font-size: 3em;
    margin-top: 80px;
    font-weight: 700;
    text-align: center;
}

.form-container {
    margin: auto;
    padding: 70px;
    border-radius: 30px;
    background: #EEFDFF;
    margin-top: 50px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
}

label {
    font-family: 'Poppins';
    color: #A1A1A1;
    padding: 10px;    
}

input, textarea {
    border: #A1A1A1;
    border-radius: 5px;
    height: 30px;
    padding-inline-start: 10px;
}

textarea {
    height: 100px;
}

#btn-submit {
    border: none;
    border-radius: 50px;
    background-color: #A1A1A1;
    width: 100px;
    color: white;
    margin: 50px auto 0 auto;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.2em;
    padding-inline-start: 0;
    width: 120px;
    height: 40px;
}

#btn-submit:hover {
    background-color: #00D1FF;
}

@media screen and (max-width: 650px) {
    .main-container {
        padding-top: 50px;
    }
    .form-container {
        width: 90%;
    }

    /* NAVBAR */
    .navbar img {
        visibility: hidden;
    }
    .nav-icon {
        display: block;
        width: 70px;
        position: fixed;
        top: 15px;
        left: 15px;
    }
    .menu-btn {
        display: block;
        color: #00D1FF;
        position: fixed;
        top: 25px;
        right: 20px;
        z-index: 2;
    }
    .cancel-btn {
        display: block;
        color: white;
        position: absolute;
        top: 100px;
        left: 45%;
        z-index: 2;
    }
    #navbar.sticky {
        display: none;
    }
    .navbar {
        margin-top: 0;
        background-color: #00d0ffea;
        display: block;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        visibility: hidden;
    }
    .navbar ul {
        margin-top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbar li {
        padding-bottom: 50px;
        color: white;
        font-size: 1.3em;
        padding-right: 0;
    }
    .navbar.show {
        transition: ease-in 0.2s;
        visibility: visible;
    }
}
@media screen and (max-width: 400px) {
    .form-container {
        height: 500px;
    }
    .name, .email, .text {
        display: flex;
        flex-direction: column;
    }
}